body{
    background-color:linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%);
}
.background{
    background-color: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%);
    width: 1000px;
    height: 500px;
  }
  .wrapper {
    
   align-self: center;
    position: relative;
    width: 420px;
    height: 450px; /* Adjust height as needed */
    /* Set background image */
    border-radius: 10px;
    color: black;
    display: flex;
  justify-content: center;
    overflow: hidden;
    border-radius: 20px;
  }
  .form-box {
     
    border-radius: 20px;
    width: 100%;
    padding: 40px;
    background:white; /* Transparent background with black tint */
    justify-content: center;
    height:800px;
    
  }
  
  .form-box h1 {
    font-size: 36px;
    align-self: center;
    color: black;
    margin-left: 30%;
    
  }
  
  .input-box {
    position: relative;
    width: 280px;
    height: 45px;
    margin-bottom: 50px;
    border: black;
  justify-content: center;
    
  }
  
  .input-box input {
    position: relative;
    width: 250px;
    height: 45px;
    margin-bottom: 50px;
    background:transparent;
    outline: none;
    border: none;
    border: 2px solid rgba(0, 0, 0,0.3);
    border-radius: 40px;
    font-size: 12px;
    color: black;
    padding: 20px 45px 20px 30px;
    transition: all 0.2s ease-in-out;
  }
  
  .input-box input:focus {
    border: 2px solid black; /* Outline color on focus */
  }
  
  .input-box .icons {
    position: absolute;
    margin-top: -87px;
    margin-left: 2%;
    width: 20px;
    height: 20px;
    color: black;
  }
  
  .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px 0 10px;
    color: black;
  }
  
  .remember-forget label input {
    accent-color: black;
    margin-right: 4px;
  }
  
  .remember-forget a {
    color: black;
    text-decoration: none;
  }
  
  .remember-forget a:hover {
    text-decoration: underline;
  }
  
  .form-box button {
    width: 100%;
    height: 45px;
    background: black;
    border-radius: 40px;
    border: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
  }
  
  .form-box button:hover {
    background: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%); /* Button hover effect */
  }
  
  .register-link p{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    color: black;
  }
  
  .register-link p Link{
    color: black;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
  }
  
  .register-link p Link:hover {
    text-decoration: underline;
  }
  button link{
    color: white;
  
  }
  .color{
    text-decoration: none;
    color: white;
  }